.checkout-page {
    background: $softblue;
}

.checkout-wrap {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 90%;
    padding: 20px 0;

    .product-info {
        display: none;
    }

    Button:hover {
        color: $deepblue;
    }
}

.delivery-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        background: white;
        padding: 10px;
        border-radius: 7px;

        p {
            color: $text;
            padding: 3px 0;
            font-size: 0.9rem
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        color: $deepblue;
        font-weight: bold;
    }

    span {
        color: $deepblue;
        font-weight: bold;
    }
}

.product-info {
    position: sticky;
    top: 0;

    p {
        font-size: 0.9rem
    }
}

@media only screen and (min-width: 700px) {

    .checkout-wrap {
        width: 80%;
        padding: 25px 0;

    }

    .delivery-info {

        .grid-1,
        .grid-2,
        .grid-3,
        .grid-4 {

            p {
                font-size: 1rem
            }
        }
    }
}

@media only screen and (min-width: 1000px) {

    .checkout-wrap {
        grid-template-columns: 3fr 1fr;
        gap: 20px;

        .product-info {
            display: block;
            background: white;

            p {
                font-size: 1rem
            }

            h1 {
                font-weight: bold;
                font-size: 1.1rem;
                color: $deepblue;
                text-align: center;
                padding: 5px 0;
            }

            .wrap {
                display: flex;
                padding: 5px 10px;

                img {
                    height: 80px;
                    width: 90px;
                    margin-right: 30px;
                }
            }

            .wrap-2 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0 10px;
            }

            aside {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 20px 10px;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {

    .checkout-wrap {
        width: 70%
    }
}

@media only screen and (min-width: 1800px) {

    .checkout-wrap {
        width: 50%;
        padding: 80px 0;

    }
}