.store-page {
    background: white;
}

.store-page-wrap {
    display: flex;
}

.main-store {
    margin: 10px 0;
    width: 100vw;

    header {
        // font-style: italic;
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;

        .store-name {
            font-size: 1.1rem;
            font-weight: bold;
            color: $deepblue;
        }

        .store-bio {
            margin: 10px 0;
            display: flex;

            img {
                margin-right: 5px;
                height: 20px;
                width: 20px
            }
        }

        .store-location {
            padding-bottom: 10px;

            i {
                margin-right: 5px;
                height: 20px;
                width: 20px
            }
        }
    }

    .store-products {
        margin: auto;
        width: 90%;

        &_head {
            display: flex;
            justify-content: center;
            margin: 20px 0;

            h1 {
                font-weight: bold;
                color: $deepblue;
            }
        }

        &_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

        .store-item {
            box-shadow: var(--box) var(--softgrey);
            background: white;
            border-radius: 5px;
            width: 150px;
            padding: 3px;
            position: relative;
            margin-bottom: 5px;
        }

        .edit-btn {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: -20px;
        }

        .store-item a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .store-item img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .store-desc {
            margin: 5px 0;
            text-align: center;
            font-weight: bold;
        }

        .store-desc h2 {
            color: var(--deepblue);
            padding: 5px 0;
            font-style: italic;
            font-size: 0.9rem;
        }

        @media only screen and (min-width: 400px) {
            width: 85%
        }

        @media only screen and (min-width: 700px) {
            .store-results h1 {
                margin: 15px 0;
            }

            &_wrap {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .store-item img {
                display: flex;
            }
        }

        @media only screen and (min-width: 1000px) {
            &_wrap {
                margin: 15px auto;
            }

            .store-item {
                width: 200px;
            }

            .store-item img {
                width: 150px;
                height: 150px;
            }
        }

        @media only screen and (min-width: 1200px) {
            margin: auto;
            width: 80%;

            &_wrap {
                margin: 35px auto;
                grid-template-columns: repeat(4, 1fr);
            }

            .store-item {
                margin: 10px 14px;
                padding: 5px;
            }

            .store-item img {
                object-fit: contain;
                width: 200px;
            }

            .store-desc {
                margin: 8px 0;
            }
        }

        @media only screen and (min-width: 2000px) {
            &_wrap {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        header {
            margin: auto;
            width: 90%;
        }
    }
}