.store-page {
    background: white;
}

.store-page-wrap {
    display: flex;
}

.main-store {
    margin: 10px 0;
    width: 100vw;

    header {
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;
        font-size: 0.9rem;

        @media only screen and (min-width: 700px) {
            font-size: 1rem;
        }

        .store-name {
            font-weight: bold;
            color: $deepblue;
        }

        .store-bio {
            margin: 10px 0;
            display: flex;

            img {
                margin-right: 5px;
                height: 20px;
                width: 20px
            }
        }

        .store-location {
            padding-bottom: 2px;

            i {
                margin-right: 5px;
                height: 20px;
                width: 20px
            }
        }
    }

    .store-products {
        margin: auto;
        width: 85%;
        padding-bottom: 50px;

        &_head {
            display: flex;
            justify-content: center;
            margin: 20px 0;

            h1 {
                font-weight: bold;
                color: $deepblue;
            }
        }

        &_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            row-gap: 20px;
        }

        .store-item {
            box-shadow: $box $softgrey;
            // border: 1px solid $softgrey;
            border-radius: 5px;
            width: 150px;
            position: relative;
            margin-bottom: 5px;
        }

        .edit-btn {
            position: absolute;
            display: flex;
            justify-content: space-around;
            width: 150px;
            font-size: 0.8rem;
            padding: 2px 0;
            bottom: 0;
            margin-bottom: -22px;
        }

        .store-item a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .store-item img {
            width: 100%;
            height: 100px;
            object-fit: contain;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .store-desc {
            margin: 5px 0;
            text-align: center;
            font-weight: bold;
            padding: 3px;
        }

        .store-desc h2 {
            color: var(--deepblue);
            padding: 5px 0;
            font-style: italic;
            font-size: 0.9rem;
        }

        @media only screen and (min-width: 400px) {
            width: 80%
        }

        @media only screen and (min-width: 700px) {

            .store-results h1 {
                margin: 15px 0;
            }

            .edit-btn {
                margin-bottom: -25px;
            }

            &_wrap {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .store-item img {
                display: flex;
            }
        }

        @media only screen and (min-width: 1000px) {
            &_wrap {
                margin: 15px auto;
            }

            .store-item {
                width: 200px;
            }

            .store-item img {
                height: 150px;
            }

            .edit-btn {
                padding: 7px 0;
                font-size: 1rem;
                width: 200px;
                margin-bottom: -30px;
            }
        }

        @media only screen and (min-width: 1200px) {
            margin: auto;
            width: 80%;

            .edit-btn {
                margin-bottom: -33px;
            }

            &_wrap {
                margin: 35px auto;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 1px;
            }

            .store-item {
                margin: 10px 14px;
            }

            // .store-item img {
            //     // object-fit: contain;
            // }

            .store-desc {
                margin: 8px 0;
            }
        }

        @media only screen and (min-width: 1800px) {
            &_wrap {
                grid-template-columns: repeat(8, 1fr);
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        header {
            margin: auto;
            width: 90%;
        }
    }
}