@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$softgrey: rgba(32, 33, 36, 0.28);
$box: 0 1px 6px 0;
$lightblue: #cbd8f9;
$deepblue: #02247a;
$text: #626262;

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
    background: rgb(255, 255, 255);
}

form label {
    color: $text;
}

li{
    cursor: pointer;
}

.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* Note - ALL Imported styles represent each page and are named accordingly. 
Class names accross components can be the same but they are wrapped by a unique class, usually named after the page or component */

@import "./store_new-item"